$font-stack: Roboto, sans-serif;
$font-color: rgb(255, 255, 255);

* {
  font-family: $font-stack
}

body {
  background: linear-gradient(to bottom, rgb(21, 26, 33), rgb(48, 63, 89));
  color: $font-color;
}